<div class="border-t border-slate-200 bg-[#f7f8fa] p-4 space-y-3">
  <div
    class="rounded-xl flex items-center justify-between bg-white px-3 py-2 border border-slate-200"
  >
    <div class="flex items-center">
      <p class="font-bold">Comments</p>
      <span class="rounded-full bg-[#e7f3ff] px-2 py-0.5 text-[11px] font-bold text-[#1877f2]">
        {{ post.commentsCount }}
      </span>
    </div>
    <div>
      <select
        [(ngModel)]="selectedViewedComments"
        (ngModelChange)="onChangeViewedComments()"
        class="py-3 px-2.5 border border-slate-200 rounded pr-7 text-xs font-bold bg-slate-50 outline-none ring-[#1877f2]/20 focus:border-[#1877f2] focus:bg-white focus:ring-2"
      >
        <option value="most-relevant" selected>Most Relevant</option>
        <option value="newest">Newest</option>
      </select>
    </div>
  </div>

  @defer (when !isLoadingComments) {
    @for (comment of comments; track comment._id) {
      <app-comment-card
        [id]="comment._id"
        [commenterPhotoUrl]="comment.commentCreator.photo"
        [commenterName]="comment.commentCreator.name"
        [commenterUsername]="comment.commentCreator.username"
        [commentCreatorId]="comment.commentCreator._id"
        [repliesCount]="comment.repliesCount"
        [likes]="comment.likes"
        [content]="comment.content"
        [image]="comment.image"
        [createdAt]="comment.createdAt"
        [post]="post"
        [isLoadingCommentLike]="isCommentLikesSet.has(comment._id)"
        [isUpdatingComment]="isUpdateingCommentSet.has(comment._id)"
        (likeComment)="onLikeComment($event)"
        (replyToComment)="onReplyToComment($event)"
        (deleteComment)="onDeleteComment($event)"
        (update)="onUpdateComment($event)"
      ></app-comment-card>
    } @empty {
      <app-empty-comments></app-empty-comments>
    }
  } @placeholder {
    <div class="p-4 rounded bg-white border border-slate-200">
      <p class="text-center text-gray-500 text-sm">Loading comments...</p>
    </div>
  }
  <app-comment-reply-creator
    [isSubmitting]="isSubmittingComment"
    placeholder="Write a comment..."
    (create)="onSubmitComment($event)"
  ></app-comment-reply-creator>
</div>
