<aside class="hidden lg:block sticky top-5 space-y-5">
  <div class="trending bg-white rounded-2xl shadow-lg overflow-hidden mb-5 w-full p-5">
    <div class="flex items-center gap-3 mb-4">
      <i class="fa-solid fa-fire text-lg text-orange-500"></i>
      <h3 class="font-bold text-lg text-gray-700">Trending Now</h3>
    </div>
    <ul class="trend-cards flex flex-col">
      <li
        class="trend-card flex gap-2 items-center mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div
          class="w-min-10 size-10 bg-linear-to-br from-blue-500 to-cyan-400 flex items-center justify-center rounded-xl"
        >
          <i class="fa-solid fa-hashtag text-lg"></i>
        </div>
        <div>
          <p class="text-gray-800 font-medium text-base">#ReactJS</p>
          <span class="text-sm text-gray-500">12.5K posts</span>
        </div>
      </li>
      <li
        class="trend-card flex gap-2 items-center mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div
          class="w-min-10 size-10 bg-linear-to-br from-blue-500 to-cyan-400 flex items-center justify-center rounded-xl"
        >
          <i class="fa-solid fa-hashtag text-lg"></i>
        </div>
        <div>
          <p class="text-gray-800 font-medium text-base">#WebDevelopment</p>
          <span class="text-sm text-gray-500">8.2K posts</span>
        </div>
      </li>
      <li
        class="trend-card flex gap-2 items-center mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div
          class="w-min-10 size-10 bg-linear-to-br from-blue-500 to-cyan-400 flex items-center justify-center rounded-xl"
        >
          <i class="fa-solid fa-hashtag text-lg"></i>
        </div>
        <div>
          <p class="text-gray-800 font-medium text-base">#JavaScript</p>
          <span class="text-sm text-gray-500">15.3K posts</span>
        </div>
      </li>

      <li
        class="trend-card flex gap-2 items-center mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div
          class="w-min-10 size-10 bg-linear-to-br from-blue-500 to-cyan-400 flex items-center justify-center rounded-xl"
        >
          <i class="fa-solid fa-hashtag text-lg"></i>
        </div>
        <div>
          <p class="text-gray-800 font-medium text-base">#TailwindCSS</p>
          <span class="text-sm text-gray-500">5.1K posts</span>
        </div>
      </li>
      <li
        class="trend-card flex gap-2 items-center mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div
          class="w-min-10 size-10 bg-linear-to-br from-blue-500 to-cyan-400 flex items-center justify-center rounded-xl"
        >
          <i class="fa-solid fa-hashtag text-lg"></i>
        </div>
        <div>
          <p class="text-gray-800 font-medium text-base">#Programming</p>
          <span class="text-sm text-gray-500">20K posts </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="Following bg-white rounded-2xl shadow-lg overflow-hidden mb-5 w-full p-5 mt-5">
    <div class="flex items-center gap-3 mb-4">
      <i class="fa-solid fa-user-plus text-lg text-blue-500"></i>
      <h3 class="font-bold text-lg text-gray-700">Who to Follow</h3>
    </div>
    <ul class="follow-cards flex flex-col">
      <li
        class="follow-card flex gap-2 items-center justify-between mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div class="flex items-center justify-center rounded-xl gap-2">
          <img src="./images/follower-1.jpg" alt="follower-1" class="rounded-full size-10" />
          <div>
            <p class="text-gray-800 font-medium text-base">Sarah Wilson</p>
            <span class="text-sm text-gray-500">@sarahw </span>
          </div>
        </div>
        <button
          class="px-4 py-2 text-sm font-medium text-blue-500 border border-blue-500 rounded-full hover:bg-blue-500 hover:text-white transition-all duration-200"
        >
          Follow
        </button>
      </li>
      <li
        class="follow-card flex gap-2 items-center justify-between mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div class="flex items-center justify-center rounded-xl gap-2">
          <img src="./images/follower-2.jpg" alt="follower-2" class="rounded-full size-10" />
          <div>
            <p class="text-gray-800 font-medium text-base">Mike Chen</p>
            <span class="text-sm text-gray-500">@mikechen </span>
          </div>
        </div>
        <button
          class="px-4 py-2 text-sm font-medium text-blue-500 border border-blue-500 rounded-full hover:bg-blue-500 hover:text-white transition-all duration-200"
        >
          Follow
        </button>
      </li>
      <li
        class="follow-card flex gap-2 items-center justify-between mb-4 p-2 text-white hover:bg-gray-50 cursor-pointer transition-colors duration-200"
      >
        <div class="flex items-center justify-center rounded-xl gap-2">
          <img src="./images/follower-3.jpg" alt="follower-3" class="rounded-full size-10" />
          <div>
            <p class="text-gray-800 font-medium text-base">Emily Davis</p>
            <span class="text-sm text-gray-500">@emilyd </span>
          </div>
        </div>
        <button
          class="px-4 py-2 text-sm font-medium text-blue-500 border border-blue-500 rounded-full hover:bg-blue-500 hover:text-white transition-all duration-200"
        >
          Follow
        </button>
      </li>
    </ul>
  </div>
  <div class="copy-rights text-xs text-gray-400 px-2 space-y-2">
    <div class="flex gap-2 items-center">
      <a class="hover:underline" href="#">Terms of Service</a>
      <span>.</span>
      <a class="hover:underline" href="#">Privacy Policy </a>
      <span>.</span>
      <a class="hover:underline" href="#">Cookies</a>
    </div>
    <p>&copy; 2024 SocialApp. All rights reserved.</p>
  </div>
</aside>
