<div class="h-screen overflow-y-auto">
  <app-navbar></app-navbar>
  <app-loading></app-loading>
  <main>
    <div class="mx-auto max-w-7xl px-3 py-3.5">
      <router-outlet></router-outlet>
    </div>
    @if (deleteModal$ | async; as deleteModalData) {
      <app-delete-modal
        [title]="deleteModalData.title"
        [message]="deleteModalData.message"
        [deletedItemName]="deleteModalData.deletedItemName"
        (cancel)="closeDeleteModal()"
        (confirm)="deleteModalData.onDelete()"
        [isDisabled]="(isDeleting$ | async) || false"
      ></app-delete-modal>
    }
  </main>
</div>

