<div class="fixed inset-0 z-100 flex items-center justify-center bg-slate-900/65">
  <div class="bg-white rounded-lg p-5">
    <p class="font-extrabold text-slate-900 text-lg">Cover post privacy</p>
    <p class="text-slate-500 text-sm mt-1">
      Choose who can see the post generated for your new cover photo.
    </p>
    <select class="w-full py-3 px-3 border border-slate-200 rounded-lg text-sm my-4" name="" id="">
      <option value="public">Public</option>
      <option value="friends">Followers</option>
      <option value="only_me">Only me</option>
    </select>
    <div class="flex items-center gap-2 justify-end">
      <button
        class="px-4 py-2 border border-slate-300 rounded font-bold hover:bg-slate-50 transition text-slate-600"
      >
        Cancel
      </button>
      <button
        class="px-4 py-2 bg-[#1877f2] rounded font-bold transition text-white hover:bg-[#166fe5] disabled:cursor-not-allowed disabled:opacity-60"
      >
        Save cover
      </button>
    </div>
  </div>
</div>
