<aside class="hidden lg:block sticky">
  <div class="profile bg-white rounded-2xl shadow-lg overflow-hidden mb-5 w-full">
    <div class="h-20 bg-gradient-to-r from-blue-500 to-cyan-400"></div>
    <div class="px-5 pb-5 -mt-10">
      <img
        class="size-20 object-cover rounded-full border-4 shadow-lg border-white"
        [src]="userProfile.photo"
        [alt]="userProfile.name"
      />
      <h3 class="text-lg font-semibold mt-2">{{ userProfile.name }}</h3>
      <p class="text-sm text-gray-500">@{{ userProfile.name }}</p>
      <div class="flex items-center gap-3 mt-3">
        <div>
          <span class="font-bold text-gray-800 me-1">0</span>
          <span class="text-gray-500">Followers</span>
        </div>
        <div>
          <span class="font-bold text-gray-800 me-1">0</span>
          <span class="text-gray-500">Following</span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav mt-5">
    <nav class="bg-white rounded-2xl p-4">
      <ul class="space-y-3">
        <li>
          <a
            routerLink="/"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-house text-lg"></i>
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/profile"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-user text-lg"></i>
            Profile
          </a>
        </li>
        <li>
          <a
            routerLink="/saved-posts"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-bookmark text-lg"></i>
            Saved Posts
          </a>
        </li>
        <li>
          <a
            routerLink="/friends"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-users text-lg"></i>
            Friends
          </a>
        </li>
        <li>
          <a
            routerLink="/events"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-calendar text-lg"></i>
            Events
          </a>
        </li>
        <li>
          <a
            routerLink="/settings"
            routerLinkActive="bg-gradient-to-r from-blue-500 to-cyan-400 text-white rounded-lg"
            class="flex items-center gap-3 p-3 text-base text-gray-600 hover:bg-gray-100 rounded-lg hover:rounded-lg transition-colors"
          >
            <i class="fa-solid fa-gear text-lg"></i>
            Settings
          </a>
        </li>
      </ul>
      <div class="border-t border-gray-200 my-4"></div>
      <button
        (click)="onLogout($event)"
        class="w-full border-0 flex items-center gap-3 p-3 text-base text-red-600 hover:bg-red-50 hover:rounded-lg rounded-lg transition-color"
      >
        <i class="fa-solid fa-right-from-bracket text-lg"></i>
        Logout
      </button>
    </nav>
  </div>
</aside>
