<div class="min-w-10 w-full max-w-lg bg-white rounded-xl p-8 mx-auto">
  <h2 class="text-3xl font-bold text-gray-700 mb-3 text-center">Create account</h2>
  <p class="text-center">
    Already have an account? <a routerLink="/login" class="text-blue-500">Sign in</a>
  </p>
  <div class="flex item-center gap-3">
    <button
      class="btn hover:scale-105 transition-transform duration-200 flex-1 flex justify-center items-center gap-2 border border-gray-300 rounded-base py-2 mt-6 cursor-pointer"
    >
      <i class="fa-brands fa-google text-red-500"></i>
      Google
    </button>
    <button
      class="btn bg-blue-500 text-white hover:scale-105 transition-transform duration-200 flex-1 flex justify-center items-center gap-2 border border-gray-300 rounded-base py-2 mt-6 cursor-pointer"
    >
      <i class="fa-brands fa-facebook text-white"></i>
      Facebook
    </button>
  </div>
  <div class="my-6 grid grid-cols-[1fr_auto_1fr] items-center gap-3">
    <div class="h-px bg-linear-to-r from-transparent via-gray-400/40 to-transparent"></div>
    <span class="text-sm text-gray-400">or continue with email</span>
    <div class="h-px bg-linear-to-r from-transparent via-gray-400/40 to-transparent"></div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <label for="full-name">Full Name</label>
      <div class="relative mt-1">
        <input
          type="text"
          id="full-name"
          formControlName="name"
          class="bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 pl-11 shadow-xs placeholder:text-gray-400 placeholder:text-base"
          placeholder="Enter your full name"
        />
        <i class="fa-solid fa-user text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
      </div>
      @let nameControl = registerForm.get('name');
      @if (nameControl?.invalid && nameControl?.touched) {
        @if (nameControl?.errors?.['required']) {
          <p class="mt-1 text-sm text-red-600">*Name is required</p>
        }

        @if (nameControl?.errors?.['minlength']) {
          <p class="mt-1 text-sm text-red-600">
            *Name must be at least
            {{ nameControl?.errors?.['minlength'].requiredLength }} characters
          </p>
        }
      }
    </div>

    <div class="mb-6">
      <label for="email">Email Address</label>
      <div class="relative mt-1">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 pl-11 shadow-xs placeholder:text-gray-400 placeholder:text-base"
          placeholder="name@example.com"
        />
        <i class="fa-solid fa-envelope text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
      </div>
      @let emailControl = registerForm.get('email');
      @if (emailControl?.invalid && emailControl?.touched) {
        @if (emailControl?.errors?.['required']) {
          <p class="mt-1 text-sm text-red-600">*Email is required</p>
        }
        @if (emailControl?.errors?.['email']) {
          <p class="mt-1 text-sm text-red-600">*Email is invalid</p>
        }
      }
    </div>

    <div class="mb-6">
      <label for="password">Password</label>
      <div class="relative mt-1">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 pl-11 shadow-xs placeholder:text-gray-400 placeholder:text-base"
          placeholder="Create a strong password"
        />
        <i class="fa-solid fa-lock text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
      </div>
      @let passwordControl = registerForm.get('password');
      @if (passwordControl?.invalid && passwordControl?.touched) {
        @if (passwordControl?.errors?.['required']) {
          <p class="mt-1 text-sm text-red-600">Password is required</p>
        }
        @if (passwordControl?.errors?.['pattern']) {
          <p class="mt-1 text-sm text-red-600">
            Password must contain uppercase, lowercase, number and special character
          </p>
        }
      }
    </div>

    <div class="mb-6">
      <label for="confirm_password">Confirm Password</label>
      <div class="relative mt-1">
        <input
          type="password"
          id="confirm_password"
          formControlName="rePassword"
          class="bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 pl-11 shadow-xs placeholder:text-gray-400 placeholder:text-base"
          placeholder="Confirm your password"
        />
        <i class="fa-solid fa-lock text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
      </div>
      @let rePasswordControl = registerForm.get('rePassword');
      @if (rePasswordControl?.invalid && rePasswordControl?.touched) {
        @if (rePasswordControl?.errors?.['required']) {
          <p class="mt-1 text-sm text-red-600">*Confirm password is required</p>
        }
      }
      @if (registerForm.hasError('passwordMismatch') && rePasswordControl?.touched) {
        <p class="mt-1 text-sm text-red-600">*Password and confirm password should be the same</p>
      }
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <label for="dateOfBirth">Date of Birth</label>
        <div class="relative mt-1">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <i class="fa-solid fa-calendar text-gray-400"></i>
          </div>
          <input
            datepicker
            id="dateOfBirth"
            formControlName="dateOfBirth"
            type="text"
            (changeDate)="onDateChange($event)"
            class="block w-full ps-9 pe-12 py-2.5 bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs placeholder:text-gray-400 placeholder:text-base"
            [class.border-red-600]="
              registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched
            "
            placeholder="Select date"
          />
          <button
            type="button"
            class="absolute inset-y-0 end-0 flex items-center pe-3 text-gray-400 hover:text-gray-600 cursor-pointer"
            (click)="openDatePicker()"
          >
            <i class="fa-solid fa-calendar-days"></i>
          </button>
        </div>
        @let dateOfBirthControl = registerForm.get('dateOfBirth');
        @if (dateOfBirthControl?.invalid && dateOfBirthControl?.touched) {
          <p class="mt-1 text-sm text-red-600">
            @if (dateOfBirthControl?.errors?.['required']) {
              *Date of birth is required
            }
            @if (dateOfBirthControl?.errors?.['invalidDate']) {
              *Please enter a valid date
            }
            @if (dateOfBirthControl?.errors?.['futureDate']) {
              *Date of birth cannot be in the future
            }
            @if (dateOfBirthControl?.errors?.['minAge']) {
              *You must be at least
              {{ dateOfBirthControl?.errors?.['minAge'].requiredAge }} years old
            }
            @if (dateOfBirthControl?.errors?.['maxAge']) {
              *Please enter a valid date of birth
            }
          </p>
        }
      </div>

      <div>
        <label for="gender" class="block mb-1 text-sm font-medium text-heading">Gender</label>
        <div class="relative mt-1">
          <select
            id="gender"
            formControlName="gender"
            class="block w-full pl-11 pr-3 py-2.5 bg-neutral-secondary-medium border border-slate-200 rounded-lg text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
          >
            <option value="" selected disabled>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <i
            class="fa-solid fa-venus-mars text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"
          ></i>
        </div>
        @let genderControl = registerForm.get('gender');
        @if (genderControl?.invalid && genderControl?.touched) {
          <p class="mt-1 text-sm text-red-600">*Please select a gender</p>
        }
      </div>
    </div>

    <button
      type="submit"
      [disabled]="isLoading || registerForm.invalid"
      [class.bg-gray-500]="isLoading"
      class="w-full text-white bg-linear-to-r from-blue-600 to-blue-400 box-border border border-transparent disabled:from-gray-500 disabled:to-gray-400 disabled:hover:bg-gray-500 disabled:cursor-not-allowed focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2.5 focus:outline-none"
    >
      @if (isLoading) {
        <span class="font-bold text-base me-1">Creating Your Account</span>
        <i class="fa-solid fa-spinner fa-spin"></i>
      } @else {
        <span class="font-bold text-base me-1">Create Account</span>
        <i class="fa-solid fa-arrow-right"></i>
      }
    </button>
  </form>
</div>
