<form (ngSubmit)="onUpdate()">
  <div [class]="isPost ? '' : 'flex items-center gap-2'" class="mt-2">
    @if (isPost) {
      <textarea
        [(ngModel)]="editedContent"
        [ngModelOptions]="{ standalone: true }"
        maxlength="5000"
        class="min-h-[110px] w-full rounded-xl border border-slate-300 bg-white px-3 py-2 text-sm outline-none ring-[#1877f2]/20 focus:border-[#1877f2] focus:ring-2"
        style="height: 15px"
      ></textarea>
    } @else {
      <input
        [(ngModel)]="editedContent"
        [ngModelOptions]="{ standalone: true }"
        class="w-full rounded-full border border-slate-300 bg-white px-3 py-1.5 text-sm"
      />
    }

    <div [class]="isPost ? 'mt-2 justify-end' : ''" class="flex items-center gap-2">
      <button
        type="submit"
        [disabled]="isUpdating || editedContent.trim() === ''"
        [class]="isPost ? 'order-1' : ''"
        class="rounded-full bg-[#1877f2] px-3 py-1.5 text-xs font-bold text-white hover:bg-[#166fe5] disabled:opacity-60 disabled:cursor-not-allowed"
      >
        @if (isUpdating) {
          Saving...
        } @else {
          Save
        }</button
      ><button
        type="button"
        [disabled]="isUpdating"
        (click)="onCancelEdit()"
        class="rounded-full border border-slate-300 bg-white px-3 py-1.5 text-xs font-bold text-slate-700 hover:bg-slate-100"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
