@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'flowbite/src/themes/default';
@import 'ngx-toastr/toastr';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Cairo Variable', sans-serif;
  color: var(--color-gray-700);
}

.blured-card {
  @apply bg-white/20 backdrop-blur-sm border border-white/30 rounded-xl flex  gap-4 text-white hover:scale-105 transition-transform duration-200;
}
